.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
section{
    height: 100vh;
    scroll-snap-align: start;
}

.logospada{
    width: 75%;
}
.collapse{
    align-items: center;
    padding-left: 15%;
}
.daftardonk{
    background-color: white;
    width: 10%;
    height: 40px;
    border: 0;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: large;
    padding-top: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
.daftardonk:hover{
    background-color: black;
    color: white;
}
.masukdonk{
    margin-left: 5px;
    background-color: #3F8BC4;
    width: 10%;
    font-size: large;
    height: 40px;
    border: 0;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    margin-right: 10px;
}
.masukdonk:hover{
    background-color: #2c6ea0;
}
.container2-fluid{
    background-color: #3F8BC4;
    margin: 5;
    color: white;
    height: 30px;
    padding-top: 5px;
    padding-left: 50px;
}
.geser{
    padding-bottom: 100px;
}
.dir{
    color: white;
    font-weight: lighter;
}
.textgede{
    padding: 10% 10% 10% 10%;
    font-size: 48pt;
    color: black;
}
.textgede2{
    padding: 0% 10% 5% 10%;
    font-size: 48pt;
    color: black;
}
.textgede3{
    padding: 0% 10% 0% 10%;
    font-size: 48pt;
    color: black;
}
.textgede4{
    padding: 0% 10% 0% 15%;
    font-size: 48pt;
    text-align: end;
    color: black;
}
.textgede5{
    padding: 0% 0% 0% 8%;
    font-size: 48pt;
    text-align: start;
    color: black;
}
.textgede6{
    padding-top: 5%;
    font-size: 48pt;
    text-align: center;
    color: black;
}
.textgede7{
    padding-top: 5%;
    font-size: 48pt;
    text-align: center;
    color: black;
}
.cewek{
    width: 80%;
    margin-right: 40%;
}
.pusing{
    background-color: #3F8BC4;
}
.pusyank{
    width: 80%;
    padding-left: 20%;
}
.quotes{
    padding-right: 10%;
    text-align: end;
    padding-left: 50px;
    color: #505050;
}
.quotes2{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #505050;
}
.quotes3{
    padding-right: 10%;
    text-align: end;
    margin-left: 50px;
    color: #505050;
}
.quotes4{
    text-align: start;
    margin-left: 50px;
    padding-right: 60px;
    color: #505050;
}
.quotes5{
    text-align: start;
    margin-left: 50px;
    padding-right: 60px;
    padding-top: 25px;
    color: #505050;
}
.quotes6{
    text-align: center;
    padding-top: 25px;
    color: #505050;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
}
.peringatan{
    font-size: 48pt;
    color: black;
    padding: 7% 30% 0% 0%;
}
.nangan{
    position: relative; /* Menyediakan ruang untuk elemen pseudo */
}
.hmm{
    padding-left: 20%;
}
.subtittle{
    color: #3F8BC4;
    font-weight: 600;
    padding-left: 60px;
    padding-top: 60px;
}
.nangan:before{
    content: ''; /* Isi pseudo elemen */
    position: absolute; /* Posisi absolut untuk menempatkan di belakang teks */
    background-color: #fad20a; /* Warna stabilo */
    width: 100%; /* Lebar stabilo 50% dari lebar teks */
    height: 0.4em; /* Tinggi stabilo cukup untuk menutupi teks */
    z-index: -1; /* Pastikan stabilo di belakang teks */
    bottom: 0;
}
p{
    line-height: 1.2;
}
.lending{
    padding-left: 100px;
}
.denjer{
    padding-left: 50px;
    padding-bottom: 40px;
}
.buttonkiri{
    padding-top: 100px;
}
.iyh{
    margin-top: 12%;
}
.buttontugasbwh{
    background-color: white;
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    color: black;
    text-align: center;
    padding: 20px 0px 20px 0px; /* atas kiri bawah kanan */
    border-radius: 10px;
}
.buttontugasbwh:hover{
    background-color: #32E379;
    border-color: #32E379;
}
.buttontugas{
    background-color: white;
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    color: black;
    padding: 20px 20px 20px 20px; /* atas kiri bawah kanan */
    border-radius: 10px;
    margin-bottom: 100px;
}
.buttontugas:hover{
    background-color: #32E379;
    border-color: #32E379;
}
.buttonquiz:hover{
    box-shadow: 0px 0px 50px #fad20a(0, 0, 0, 0.5);

}
.buttonquiz{
    background-color: #fad20a;
    border-color: #fad20a;
    border-width: 2px;
    border-style: solid;
    color: black;
    padding: 20px 115px 20px 115px; /* atas kiri bawah kanan */
    border-radius: 10px;
    margin-bottom: 150px;
    transition: box-shadow 0.5s ease;
}
.filosofi{
    padding-left: 5px;
}
.kananindikit{
    padding-left: 10%;
}
.materi{
    margin: 5px;
}
.paus{
    color: #C80000;
    font-size: 25px;
}
.modalmodul{
    background-color: #C80000;
    color: white;
    padding: 15px;
    margin-right: 10%;
}
.subtittletengah{
    color: #3F8BC4;
    font-weight: 600;
    padding-top: 5%;
}
.dua{
    padding-top: 3.5%;
}
.container5{
    margin-top: 10%;
    margin-bottom: 5%;
}
.container6{
    margin: 5%;
}
.eits{
    text-align: end;
}
.marjin{
    margin-left: 10%;
    margin-bottom: 5%;
}
.rowaw{
    padding-top: 10%;
}



/* NEWSS TICKERR PENTINGGGGGGGGGGGGGGGGGGGGGGGG */

.news-container {
    right: 0;
    left: 0;
    font-size: 12px;
    background: #2c6ea0;
    color: #ffffff;
    padding: 10px 32px;
    display: flex;
    box-shadow: 0 4px 40px -8px rgb(0, 51, 98);
    overflow: hidden;
}
.news-container::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(transparent, #2c6ea0);
}
.news-container .news-heading{
    font-weight: 400;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #fff;
    margin-left: 18px;
}
.news-container .news{
    position: relative;
    width: 50%;
}
.news-container .news-single{
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    opacity: 0;
    position: absolute;
    left: 0;
    transform: translateY(-8px);
    transition: all 400ms ease;
}
.news-container .news-single.active{
    opacity: 1;
    transform: translateY(0);
}